doctype html
html
  head
    title
      |Admin Manager
    link(rel='stylesheet',href='css/lib/bootstrap.min.css')
    link(rel='stylesheet',href='css/lib/bootstrap-theme.min.css')
    link(rel='stylesheet',href='css/manager.css')
    script(type='text/javascript',src='js/lib/jquery.min.js')
    script(type="text/javascript", src='js/admin/managerapp.js')
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
  body
    .container
      h1
        |Admin Manager Page
      table.table.table-striped#worktable
        thead
          tr
            th
              |_id
            th
              |Work
            th
              |Author
            th
              |Theme
            th
              |Describe
            th
              |Operate
          tbody
            - var arr = workjson
            - for(var i=0 ; i<arr.length ; i++) 
              tr             
                td= arr[i]._id
                td= arr[i].photo
                td= arr[i].username
                td= arr[i].theme
                td= arr[i].describe
                td
                  div.btn.btn-primary.btn-sm(type='button',id='delbtn' data-id=arr[i]._id)
                    |delete
          div.button_dividepage
            span.btn.btn-default.page_pre
              |pre 
            ul.pagelist
            span.btn.btn-default.page_aft
              |after
